@model IEnumerable<MVCEntityFramework.Models.Customers>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers!!</h2>
<input type="button" value="Add Customer" class="btn btn-primary" style="float:right;margin-top: -40px;" onclick="@("window.location.href='" + @Url.Action("CustomerForm", "Customers") + "'");" />
<table Id="customers" class="table table-bordered table-hover" style="margin-top: 2%;">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Discount Rate</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var customer in Model)
            {*@
        <tr>
            @*<td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>*@
            @*<td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>*@
            @*<td>@customer.MembershipType.Name</td>*@
            @*<td><button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button></td>*@
        </tr>
        @*}*@
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            var custTable = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.Id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "MembershipType.Name"
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>"
                        }
                    }
                ]

            });

            $("#customers").on("click", ".js-delete", function () {
                console.log('clikcedd');
                var button = $(this);
                bootbox.confirm("Are you sure want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                custTable.row(button.parents("tr")).remove().draw();
                            }

                        });
                    }
                });
            });
        });
    </script>
}